<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <div class="form-group">
      <input type="text" placeholder="Github Repo:" class="form-control" id="repo">
    </div>
  </div>
</div>
<div class="container">
  
</div>


</body>
</html>
